h1, span
{
text-decoration: underline
}
p span{
    color: blue;
}

p span span{
     color: yellow;
 }
/*спан шо лежить в спані шо лежить в пешці стніь жовтим*/
p > span{
    color: red;}
/*всі спани які е діть ми першогорівня (ТІЛЬКИ ПЕРШИЙ СПАН) ..залежність він рівня вложеності*/
p + p {
text-decoration: line-through}
/*ми вибираемвсі першки які е настпуними після першої пешки*/
html body h1.h1.h2{
    color: yellow;
}
/*перевизначення щоб ці три умови були, тег н1 в якого е клас н1 і н2*
Що в боді і штрм= чим більше уточняем тим більше приоритет/
 */