* {
    font-size: 20px;
}

h1 {
    color: red;
}

.h1 {
    color: green !important;
}
.h2 {
    color: blueviolet;
}

#h1 {
    color: aqua
}

.title {
    font-size: 55px
}

.bold {
    font-weight: 700;
}

.black {
    color: black;
}

.italic {
    font-style: italic;
}

[q] {
    color: yellow;
}

[q='1'] {
    color: orange;
}

[q~='2 3'] {
    color: brown;
}

[q^='2 3'] {
    color: brown;
}[q*='2 3'] {
    color: brown;
}